.home {
    overflow: hidden;
    height: 650px;
    position: relative;
    text-align: center;

    @media (max-width: 1088px) {
        height: 500px;
    }

    @media (max-width: 570px) {
        height: 672px;
    }

    h1 {
        font-size: 80px;
        font-weight: 1000;
        letter-spacing: 0px;

        @media (max-width: 1088px) {
            br {
                display: none;
            }

            font-size: 36px;
            margin-top: 87px;
        }

        @media (max-width: 510px) {
            margin-top: 20px;
        }
    }

    p {
        font-size: 20px;
        padding: 0 26%;
        font-weight: 100;
        text-align: center;
        letter-spacing: 0px;

        @media (max-width: 1088px) {
            padding: 0 12%;
        }
    }

    .home__btns {
        margin: 45px;

        button {
            border: none;
            padding: 20px 45px;
            margin: 0 15px;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s;

            @media (max-width: 510px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        button:first-of-type {
            color: white;
            background-color: var(--main-btn);
        }

        button:first-of-type:hover {
            background-color: var(--main);
        }

        button:last-of-type {
            border: 1px solid black;
        }

        button:last-of-type:hover {
            background-color: grey;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {

            img {
                width: 100px;
            }
        }
    }
}

.home::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    background: #6E6BFE;
    border-radius: 50%;
    box-shadow: 0 0 1000px 350px #6E6BFE;
    z-index: -1;
    right: 0;
    top: 100%;
    transform: translate(-80%, -80%);
    opacity: .2;
}

.home::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    background: #1BA94C;
    border-radius: 50%;
    box-shadow: 0 0 1000px 350px #1BA94C;
    z-index: -1;
    left: 0;
    top: 100%;
    transform: translate(80%, -80%);
    opacity: .2;
}