.slide {
    display: flex;
    margin-top: 100px;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    &__info {
        padding: 60px 60px 0 0;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        h2 {
            font-size: 34px;
            font-weight: bold;
            position: relative;

            @media (min-width: 1300px) {
                &::before {
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    border: 1px solid #B7C9CC;
                    position: absolute;
                    left: -39px;
                    top: 50%;
                    transform: translate(0, -50%);
                    border-radius: 50%;
                    background-color: #f7fcff;
                }
        
                &::after {
                    display: block;
                    content: '';
                    width: 12px;
                    height: 1px;
                    background-color: #B7C9CC;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translate(0, -50%);
                }   
            }
        }

        p {
            line-height: 1.5;
            font-size: 18px;
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            font-weight: bold;
            padding: 0;
            cursor: pointer;

            svg {
                transition: all 0.3s;
            }

            &:hover svg {
                transform: translateX(10px);
            }
        }
    }

    img {
        width: 55%;
        opacity: 0;
        transform: translateX(120px);
        transition: all 0.3s;

        
        @media (max-width: 992px) {
            width: 82%;
        }
    }

    &__show {
        opacity: 1 !important;
        transform: translateX(0) !important;
    }
}