.tests {
    margin: -100px auto;
    padding: 160px 145px 100px 280px;
    background-color: #f7fcff;

    @media (max-width: 1300px) {
        padding: 160px 28px 0;
    }

    &__label {
        font-size: 14px;
        font-weight: 600;
    }

    > h3 {
        font-size: 55px;
        font-weight: 100;
    }
    > h3:first-of-type {
        margin: 16px 0 0;
        color: var(--main-btn);
    }

    > h3:last-of-type {
        margin: 0 0 40px 0;
    }
    
    &__svg {
        display: flex;
        position: relative;

        svg {
            position: absolute;
            left: -110px;
            top: 24px;
        }

        @media (min-width:1300px) {
            &::before {
                content: "";
                position: absolute;
                width: 27px;
                height: 2px;
                left: -27px;
                top: 26px;
                background-color: #B7C9CC;
            }

            &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #f7fcff;
                border: 1px solid grey;
                outline: 4px solid #f7fcff;
                left: -40px;
                z-index: 90;
                top: 17px;
            }
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}