* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --main: #32c766;
  --main-btn: #068932;
  --main-dark: #111621;
}

@media (min-width: 1500px) {
  .container {
    padding-right: 200px;
    padding-left: 200px;
  }
}
.App {
  min-width: 470px;
}

header {
  height: 130px;
}
header .header__top {
  height: 40px;
  background: #050C1B linear-gradient(90deg, #050C1B, #1A4055 15%, #1A4055 35%, #050C1B 50%);
  direction: rtl;
  padding: 10px;
  padding-right: 120px;
}
header .header__top span {
  color: #B7C9CC;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
header .header__top span:first-of-type:hover,
header .header__top span:last-of-type:hover {
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px 90px;
  position: relative;
}
@media (max-width: 600px) {
  header nav {
    padding: 30px 10px;
  }
}
header nav img {
  width: 200px;
  transition: all 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .open_logo {
  margin-left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
header nav ul {
  flex: 1;
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 0 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
header nav ul li:hover {
  color: var(--main);
}
header nav > div span,
header nav > div button {
  margin: 0 10px;
  transition: all 0.3s;
}
header nav > div button {
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
header nav > div span {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
header nav > div span:hover {
  color: var(--main);
}
header nav > div button:last-of-type {
  color: white;
  background-color: var(--main-btn);
}
header nav > div button:first-of-type:hover {
  background-color: grey;
}
header nav > div button:last-of-type:hover {
  background-color: var(--main);
}
header nav .menu {
  cursor: pointer;
  font-size: 28px;
  display: none;
}
header nav .nav__menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 900px;
  left: 0;
  top: 100%;
  background-color: white;
  z-index: 1;
}
header nav .nav__menu ul {
  display: block;
  margin: 5px 15px;
}
header nav .nav__menu ul li {
  padding: 0 0 50px;
}
header nav .nav__menu ul li:nth-of-type(7) {
  text-align: center;
  margin-top: 70px;
}
header nav .nav__menu ul li:nth-of-type(8) {
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
}
header nav .nav__menu ul li:nth-of-type(8):hover {
  color: black;
}
header nav .nav__menu .nav__menu__line {
  width: 100%;
  height: 1px;
  background-color: black;
}

@media (min-width: 1060px) and (max-width: 1385px) {
  header nav {
    padding: 20px 12px;
  }
}
@media (min-width: 1088px) and (max-width: 1145px) {
  header nav ul li {
    padding: 0 10px;
  }
}
@media (max-width: 1088px) {
  header .header__top,
  header nav ul,
  header nav div {
    display: none;
  }
  header nav .menu {
    display: block;
  }
}
.scrolled {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
}

.home {
  overflow: hidden;
  height: 650px;
  position: relative;
  text-align: center;
}
@media (max-width: 1088px) {
  .home {
    height: 500px;
  }
}
@media (max-width: 570px) {
  .home {
    height: 672px;
  }
}
.home h1 {
  font-size: 80px;
  font-weight: 1000;
  letter-spacing: 0px;
}
@media (max-width: 1088px) {
  .home h1 {
    font-size: 36px;
    margin-top: 87px;
  }
  .home h1 br {
    display: none;
  }
}
@media (max-width: 510px) {
  .home h1 {
    margin-top: 20px;
  }
}
.home p {
  font-size: 20px;
  padding: 0 26%;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1088px) {
  .home p {
    padding: 0 12%;
  }
}
.home .home__btns {
  margin: 45px;
}
.home .home__btns button {
  border: none;
  padding: 20px 45px;
  margin: 0 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 510px) {
  .home .home__btns button {
    width: 100%;
    margin-bottom: 15px;
  }
}
.home .home__btns button:first-of-type {
  color: white;
  background-color: var(--main-btn);
}
.home .home__btns button:first-of-type:hover {
  background-color: var(--main);
}
.home .home__btns button:last-of-type {
  border: 1px solid black;
}
.home .home__btns button:last-of-type:hover {
  background-color: grey;
}
.home ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home ul li img {
  width: 100px;
}

.home::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  background: #6E6BFE;
  border-radius: 50%;
  box-shadow: 0 0 1000px 350px #6E6BFE;
  z-index: -1;
  right: 0;
  top: 100%;
  transform: translate(-80%, -80%);
  opacity: 0.2;
}

.home::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  background: #1BA94C;
  border-radius: 50%;
  box-shadow: 0 0 1000px 350px #1BA94C;
  z-index: -1;
  left: 0;
  top: 100%;
  transform: translate(80%, -80%);
  opacity: 0.2;
}

.slides {
  height: 1000px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.slides > h2 {
  text-align: center;
  margin: 75px 0 0;
  font-size: 50px;
  font-weight: 100;
}
@media (max-width: 650px) {
  .slides > h2 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .slides > h2 {
    font-size: 34px;
  }
}
.slides > h2:last-of-type {
  margin: 0;
  color: var(--main-btn);
}
.slides > p {
  text-align: center;
  padding: 0 26%;
  font-size: 18px;
}
@media (max-width: 1080px) {
  .slides > p {
    padding: 0 15%;
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .slides > p {
    font-size: 24px;
  }
}
.slides nav {
  display: flex;
  justify-content: center;
}
.slides nav a {
  color: #111621;
  text-decoration: none;
  padding: 20px 85px;
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 550px) {
  .slides nav a {
    padding: 20px 40px;
  }
}
.slides nav a:visited {
  color: #111621;
}
.slides nav a:hover {
  text-decoration: underline;
}

.skills {
  background-color: var(--main-dark);
  width: 80%;
  margin: 10px auto;
  display: flex;
  border-radius: 10px;
  padding: 20px 40px;
  position: relative;
}
@media (max-width: 1400px) {
  .skills {
    width: 92%;
  }
}
@media (max-width: 1024px) {
  .skills {
    flex-direction: column;
  }
}
.skills__info {
  display: block;
  padding: 50px 80px 0;
}
@media (max-width: 1450px) {
  .skills__info {
    padding: 50px 45px 0;
  }
}
@media (max-width: 1024px) {
  .skills__info {
    padding: 0;
  }
}
.skills__info__label {
  color: #B7C9CC;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
.skills__info__label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  left: -27px;
  top: 50%;
  background-color: #B7C9CC;
}
.skills__info__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--main-dark);
  border: 2px solid #B7C9CC;
  left: -50px;
  z-index: 90;
}
.skills__info > h3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
@media (min-width: 1450px) {
  .skills__info > h3::before {
    content: "";
    position: absolute;
    height: 3350px;
    width: 1px;
    top: 0;
    left: 80px;
    background-color: #B7C9CC;
    opacity: 0.6;
  }
}
.skills__info > p {
  color: white;
  font-size: 22px;
  line-height: 1.6;
  padding: 0 60px 0 0;
}
.skills__info > button {
  border-radius: 4px;
  border: 1px solid white;
  background: var(--main-dark);
  color: white;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}
.skills__info > button > svg {
  font-size: 12px;
  transition: all 0.4s;
}
.skills__info > button:hover svg {
  transform: translate(80%, 0);
}
.skills > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
}
@media (max-width: 1024px) {
  .skills > img {
    margin-top: 10px;
    width: 100%;
  }
}

.tests {
  margin: -100px auto;
  padding: 160px 145px 100px 280px;
  background-color: #f7fcff;
}
@media (max-width: 1300px) {
  .tests {
    padding: 160px 28px 0;
  }
}
.tests__label {
  font-size: 14px;
  font-weight: 600;
}
.tests > h3 {
  font-size: 55px;
  font-weight: 100;
}
.tests > h3:first-of-type {
  margin: 16px 0 0;
  color: var(--main-btn);
}
.tests > h3:last-of-type {
  margin: 0 0 40px 0;
}
.tests__svg {
  display: flex;
  position: relative;
}
.tests__svg svg {
  position: absolute;
  left: -110px;
  top: 24px;
}
@media (min-width: 1300px) {
  .tests__svg::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    left: -27px;
    top: 26px;
    background-color: #B7C9CC;
  }
  .tests__svg::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f7fcff;
    border: 1px solid grey;
    outline: 4px solid #f7fcff;
    left: -40px;
    z-index: 90;
    top: 17px;
  }
}
.tests__svg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide {
  display: flex;
  margin-top: 100px;
}
@media (max-width: 992px) {
  .slide {
    flex-direction: column;
  }
}
.slide__info {
  padding: 60px 60px 0 0;
}
@media (max-width: 992px) {
  .slide__info {
    margin-bottom: 40px;
  }
}
.slide__info h2 {
  font-size: 34px;
  font-weight: bold;
  position: relative;
}
@media (min-width: 1300px) {
  .slide__info h2::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #B7C9CC;
    position: absolute;
    left: -39px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: #f7fcff;
  }
  .slide__info h2::after {
    display: block;
    content: "";
    width: 12px;
    height: 1px;
    background-color: #B7C9CC;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.slide__info p {
  line-height: 1.5;
  font-size: 18px;
}
.slide__info button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}
.slide__info button svg {
  transition: all 0.3s;
}
.slide__info button:hover svg {
  transform: translateX(10px);
}
.slide img {
  width: 55%;
  opacity: 0;
  transform: translateX(120px);
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .slide img {
    width: 82%;
  }
}
.slide__show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.interview {
  background: white;
  margin-top: 60px;
  height: 680px;
  position: relative;
  text-align: center;
  padding: 200px 100px 0;
}
@media (max-width: 550px) {
  .interview {
    padding: 150px 40px 0;
  }
}
@media (min-width: 1400px) {
  .interview::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 70px;
    border: 1px solid #B7C9CC;
    border-width: 0 0 1px 1px;
    left: 249px;
    top: 0;
    border-radius: 0 0 0 30px;
  }
  .interview::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 105px;
    border: 1px solid #B7C9CC;
    border-width: 1px 1px 0 0;
    right: 50%;
    top: 70px;
    border-radius: 0 30px 0 0;
  }
}
.interview > h2 {
  font-size: 62px;
  font-weight: 100;
}
@media (max-width: 550px) {
  .interview > h2 {
    font-size: 42px;
  }
}
.interview > h2 span {
  color: #068932;
}
.interview > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.interview > button {
  font-size: 14px;
  color: #fff;
  border: 1px solid #068932;
  background: #068932;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 600px) {
  .question {
    display: none;
  }
}
.question > ul {
  display: flex;
  list-style: none;
}
.question > ul li {
  margin: 0 50px;
  width: 50px;
}
.question > ul li > img {
  transition: all 0.5s;
}
@media (max-width: 1500px) {
  .question > ul li > img {
    display: none;
  }
}
.question > img {
  width: 70%;
  position: absolute;
  top: 100px;
}

.normal {
  position: relative;
  top: 0;
  opacity: 1;
  scale: 1;
}

.up {
  position: absolute;
  top: -150px;
  opacity: 0;
  scale: 1.4;
}

.down {
  position: absolute;
  top: 50px;
  opacity: 0;
  scale: 1.4;
}

.goDown {
  position: absolute;
  top: 100px !important;
}

.help {
  margin-top: 850px;
  padding: 0 200px;
}
@media (max-width: 992px) {
  .help {
    margin-top: 500px;
  }
}
@media (max-width: 1430px) {
  .help {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .help {
    margin-top: 0;
  }
}
.help__top {
  display: flex;
}
@media (max-width: 992px) {
  .help__top {
    flex-direction: column;
    padding: 32px;
  }
}
.help__top__text {
  flex: 50%;
}
.help__top__text > div {
  font-size: 41px;
}
.help__top__text > div > span {
  color: var(--main-btn);
}
.help__top__text > p {
  line-height: 1.5;
  font-size: 18px;
  width: 90%;
}
.help__top__slideShow {
  flex: 45%;
  text-align: center;
  background-color: #f7fcff;
  height: 390px;
}
.help__top__slideShow .carousel {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.help__top__slideShow .carousel__slides {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: transform 0.3s;
  display: -webkit-box;
}
.help__top__slideShow .carousel__slides__slide {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help__top__slideShow .carousel__slides__slide > img {
  width: 100px;
}
.help__top__slideShow .carousel__slides__slide > p {
  line-height: 1.5;
  font-size: 18px;
}
.help__top__slideShow .carousel__slides__btns {
  display: flex;
  justify-content: center;
}
.help__top__slideShow .carousel__slides__btns > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #D9D9D9;
}
.help__top__slideShow .carousel__slides__btns button:hover {
  transform: scale(1.3);
}
.help__bot ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.help__bot ul li img {
  width: 100px;
}

.challenge {
  display: flex;
  width: 100%;
  margin: 40px 0;
}
@media (max-width: 992px) {
  .challenge {
    flex-direction: column;
  }
}
.challenge__right {
  background-color: #f7fcff;
}
.challenge__right, .challenge__left {
  flex: 50%;
  padding: 20px 200px 20px 40px;
}
.challenge__right > h2, .challenge__left > h2 {
  font-size: 42px;
}
.challenge__right > h2 .block, .challenge__left > h2 .block {
  display: block;
}
.challenge__right > p, .challenge__left > p {
  font-size: 18px;
  color: gray;
  padding: 30px 0;
}
.challenge__right > button, .challenge__left > button {
  background-color: var(--main-btn);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 0 94px;
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}
.footer div ul {
  list-style: none;
  padding: 0;
}
.footer div ul li {
  cursor: pointer;
  padding: 5px 0;
  margin: 0;
}
.footer div ul li:hover {
  color: var(--main-btn);
}/*# sourceMappingURL=main.css.map */